/*---------------------------------------------------------------------------------
   Common Styles
---------------------------------------------------------------------------------*/

/*float styles*/
 .clearfix:before, .clearfix:after {
    content:" ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    background-color: #394264;
}
body {
    position: relative;
    width: 98%;
    height: 96%;
    margin: 0.8em auto;
    font-family:'Lato', Calibri, Arial, sans-serif;
    background-color: #1F253D;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
a {
    text-decoration: none;
    color: black;
}
ul li {
    display: inline;
}
/*---------------------------------------------------------------------------------
   Header Styles
---------------------------------------------------------------------------------*/
 nav {
    position: relative;
    height: 10%;
    padding: 1em;
}
nav ul li {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
}
nav ul li:first-child {
    float: left;
}
nav ul li:last-child {
    float: right;
}
nav a {
    color: #fff;
}
h1 {
    font-weight: 900;
    font-size: 2.4em;
    padding: 0.8em;
    color: #fff;
}
/*---------------------------------------------------------------------------------
   Game Section Styles
---------------------------------------------------------------------------------*/
 .game {
    position: relative;
    background-color: #179fa3;
    width: 810px;
    height: 380px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: rgb(26, 31, 52) 1px 1px, rgb(26, 31, 52) 2px 2px, rgb(26, 31, 52) 3px 3px, rgb(26, 31, 53) 4px 4px, rgb(26, 32, 53) 5px 5px, rgb(27, 32, 53) 6px 6px, rgb(27, 32, 54) 7px 7px, rgb(27, 32, 54) 8px 8px, rgb(27, 32, 54) 9px 9px, rgb(27, 33, 55) 10px 10px, rgb(27, 33, 55) 11px 11px, rgb(28, 33, 55) 12px 12px, rgb(28, 33, 56) 13px 13px, rgb(28, 34, 56) 14px 14px, rgb(28, 34, 56) 15px 15px, rgb(28, 34, 57) 16px 16px, rgb(29, 34, 57) 17px 17px, rgb(29, 34, 57) 18px 18px, rgb(29, 35, 58) 19px 19px, rgb(29, 35, 58) 20px 20px, rgb(29, 35, 58) 21px 21px, rgb(29, 35, 59) 22px 22px, rgb(30, 35, 59) 23px 23px, rgb(30, 36, 59) 24px 24px, rgb(30, 36, 60) 25px 25px, rgb(30, 36, 60) 26px 26px, rgb(30, 36, 60) 27px 27px, rgb(31, 37, 61) 28px 28px;
}
.makeChoice {
    margin: 0 auto;
    font-size: 1em;
    font-weight: 400;
    display: block;
    line-height: 1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: black;
}
::-webkit-input-placeholder {
    color: #95a5a6;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: #95a5a6;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: #95a5a6;
}
:-ms-input-placeholder {
    color: #95a5a6;
}
.userDiv {
    position: relative;
    background-color: white;
    width: 405px;
    height: 330px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border :3px solid black;
    margin: 0 auto;
    float: left;
}
.computerDiv {
    position: relative;
    background-color: white;
    width: 405px;
    height: 330px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border :3px solid black;
    margin: 0 auto;
    float: right;
}
.feedback {
    position: relative;
    background-color: white;
    width: 405px;
    height: 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border :3px solid black;
    margin: 0 auto;
    clear: both;
    color: black;
    font-size: 1.5em;
    font-weight: 400;
    display: block;
    line-height: 1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
#rockB {
    text-decoration:none;
    text-align:center;
    padding:11px 32px;
    border:solid 1px #004F72;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background-color:#c43758;
    background-image: -moz-linear-gradient(top, #c43758 0%, #751d25 100%);
    background-image: -webkit-linear-gradient(top, #c43758 0%, #751d25 100%);
    background-image: -o-linear-gradient(top, #c43758 0%, #751d25 100%);
    background-image: -ms-linear-gradient(top, #c43758 0%, #751d25 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#751d25', endColorstr='#751d25', GradientType=0);
    background-image: linear-gradient(top, #c43758 0%, #751d25 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
#rockB:hover {
    padding:11px 32px;
    border:solid 1px #004F72;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background-color:#c73b53;
    background-image: -moz-linear-gradient(top, #c73b53 0%, #ab578c 100%);
    background-image: -webkit-linear-gradient(top, #c73b53 0%, #ab578c 100%);
    background-image: -o-linear-gradient(top, #c73b53 0%, #ab578c 100%);
    background-image: -ms-linear-gradient(top, #c73b53 0%, #ab578c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab578c', endColorstr='#ab578c', GradientType=0);
    background-image: linear-gradient(top, #c73b53 0%, #ab578c 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
#rockB:active {
    padding:11px 32px;
    border:solid 1px #004F72;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background-color:#c43758;
    background-image: -moz-linear-gradient(top, #c43758 0%, #751d24 100%);
    background-image: -webkit-linear-gradient(top, #c43758 0%, #751d24 100%);
    background-image: -o-linear-gradient(top, #c43758 0%, #751d24 100%);
    background-image: -ms-linear-gradient(top, #c43758 0%, #751d24 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#751d24', endColorstr='#751d24', GradientType=0);
    background-image: linear-gradient(top, #c43758 0%, #751d24 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
#paperB {
    text-decoration:none;
    text-align:center;
    padding:11px 32px;
    border:solid 1px #004F72;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background-color:#c43758;
    background-image: -moz-linear-gradient(top, #c43758 0%, #751d25 100%);
    background-image: -webkit-linear-gradient(top, #c43758 0%, #751d25 100%);
    background-image: -o-linear-gradient(top, #c43758 0%, #751d25 100%);
    background-image: -ms-linear-gradient(top, #c43758 0%, #751d25 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#751d25', endColorstr='#751d25', GradientType=0);
    background-image: linear-gradient(top, #c43758 0%, #751d25 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
#paperB:hover {
    padding:11px 32px;
    border:solid 1px #004F72;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background-color:#c73b53;
    background-image: -moz-linear-gradient(top, #c73b53 0%, #ab578c 100%);
    background-image: -webkit-linear-gradient(top, #c73b53 0%, #ab578c 100%);
    background-image: -o-linear-gradient(top, #c73b53 0%, #ab578c 100%);
    background-image: -ms-linear-gradient(top, #c73b53 0%, #ab578c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab578c', endColorstr='#ab578c', GradientType=0);
    background-image: linear-gradient(top, #c73b53 0%, #ab578c 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
#paperB:active {
    padding:11px 32px;
    border:solid 1px #004F72;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background-color:#c43758;
    background-image: -moz-linear-gradient(top, #c43758 0%, #751d24 100%);
    background-image: -webkit-linear-gradient(top, #c43758 0%, #751d24 100%);
    background-image: -o-linear-gradient(top, #c43758 0%, #751d24 100%);
    background-image: -ms-linear-gradient(top, #c43758 0%, #751d24 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#751d24', endColorstr='#751d24', GradientType=0);
    background-image: linear-gradient(top, #c43758 0%, #751d24 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
#scissorsB {
    text-decoration:none;
    text-align:center;
    padding:11px 32px;
    border:solid 1px #004F72;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background-color:#c43758;
    background-image: -moz-linear-gradient(top, #c43758 0%, #751d25 100%);
    background-image: -webkit-linear-gradient(top, #c43758 0%, #751d25 100%);
    background-image: -o-linear-gradient(top, #c43758 0%, #751d25 100%);
    background-image: -ms-linear-gradient(top, #c43758 0%, #751d25 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#751d25', endColorstr='#751d25', GradientType=0);
    background-image: linear-gradient(top, #c43758 0%, #751d25 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
#scissorsB:hover {
    padding:11px 32px;
    border:solid 1px #004F72;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background-color:#c73b53;
    background-image: -moz-linear-gradient(top, #c73b53 0%, #ab578c 100%);
    background-image: -webkit-linear-gradient(top, #c73b53 0%, #ab578c 100%);
    background-image: -o-linear-gradient(top, #c73b53 0%, #ab578c 100%);
    background-image: -ms-linear-gradient(top, #c73b53 0%, #ab578c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ab578c', endColorstr='#ab578c', GradientType=0);
    background-image: linear-gradient(top, #c73b53 0%, #ab578c 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
#scissorsB:active {
    padding:11px 32px;
    border:solid 1px #004F72;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
    font:18px Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#E5FFFF;
    background-color:#c43758;
    background-image: -moz-linear-gradient(top, #c43758 0%, #751d24 100%);
    background-image: -webkit-linear-gradient(top, #c43758 0%, #751d24 100%);
    background-image: -o-linear-gradient(top, #c43758 0%, #751d24 100%);
    background-image: -ms-linear-gradient(top, #c43758 0%, #751d24 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#751d24', endColorstr='#751d24', GradientType=0);
    background-image: linear-gradient(top, #c43758 0%, #751d24 100%);
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
.options {
    position: relative;
    top: 13px;
    left: 0;
}
.paperP, .rockP, .scissorsP {
    width: 334px;
    height: 321px;
}
.paperP, .rockP, .scissorsP {
    display:none;
}
.paperP {
    background-image: url('../images/paper.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.rockP {
    background-image: url('../images/rock.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.scissorsP {
    background-image: url('../images/scissors.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.paperC, .rockC, .scissorsC {
    width: 334px;
    height: 321px;
}
.paperC, .rockC, .scissorsC {
    display:none;
}
.paperC {
    background-image: url('../images/paper.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.rockC {
    background-image: url('../images/rock.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.scissorsC {
    background-image: url('../images/scissors.png');
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 auto;
}
